[Unit]
Description=k0s Worker- Zero Friction Kubernetes
ConditionFileIsExecutable=/usr/bin/k0s

After=network.target

[Service]
User=root
Group=root
{% if grains['osarch'] == 'arm64' %}
Environment="ETCD_UNSUPPORTED_ARCH=arm64"
{% endif %}
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/usr/bin/k0s "worker" "{{ config.token }}"

Restart=always

RestartSec=120
EnvironmentFile=-/etc/sysconfig/k0s
KillMode=process
[Install]
WantedBy=multi-user.target